// Breakpoints

$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

// Colors

$main-color-dark: #999;
$main-color-light: #fafafa;
$background-header: rgba(20, 20, 20, .7);


//Fonts

$main-font: "Lato", Helvetica, sans-serif;
$secondary-font: "Dynalight", Helvetica, sans-serif;